.current-model-item__inner.best-photo-model-0001   
  h2.best-photo-model-0001__headline-title Несколько моих фото
  p.best-photo-model-0001__headline-descr sakjdasd kdjklas dlkasjd jd asjdlkasjkl jlkfjak slkas 
  .block-wrapper.best-photo-model-0001__wrapper
    .block-img.best-photo-model-0001__wrapper-img(style="background-image: url(images/content/анастасия_никитина/__10.jpg);  background-image: image-set(url(images/content/анастасия_никитина/__10x1.jpg) 1x, url(images/content/анастасия_никитина/__10x2.jpg) 2x, url(images/content/анастасия_никитина/__10x3.jpg) 3x);") 
  .block-wrapper.best-photo-model-0001__wrapper
    .block-img.best-photo-model-0001__wrapper-img(style="background-image: url(images/content/анастасия_никитина/__5.jpg);  background-image: image-set(url(images/content/анастасия_никитина/__5x1.jpg) 1x, url(images/content/анастасия_никитина/__5x2.jpg) 2x, url(images/content/анастасия_никитина/__5x3.jpg) 3x);")  
  .block-wrapper.best-photo-model-0001__wrapper
    .block-img.best-photo-model-0001__wrapper-img(style="background-image: url(images/content/анастасия_никитина/__9.jpg);  background-image: image-set(url(images/content/анастасия_никитина/__9x1.jpg) 1x, url(images/content/анастасия_никитина/__9x2.jpg) 2x, url(images/content/анастасия_никитина/__9x3.jpg) 3x);") 
  .block-wrapper.best-photo-model-0001__wrapper
    .block-img.best-photo-model-0001__wrapper-img(style="background-image: url(images/content/анастасия_никитина/__3.jpg);  background-image: image-set(url(images/content/анастасия_никитина/__3x1.jpg) 1x, url(images/content/анастасия_никитина/__3x2.jpg) 2x, url(images/content/анастасия_никитина/__3x3.jpg) 3x);")    
  .block-wrapper.best-photo-model-0001__wrapper
    .block-img.best-photo-model-0001__wrapper-img(style="background-image: url(images/content/анастасия_никитина/__7.jpg);  background-image: image-set(url(images/content/анастасия_никитина/__7x1.jpg) 1x, url(images/content/анастасия_никитина/__7x2.jpg) 2x, url(images/content/анастасия_никитина/__7x3.jpg) 3x);")      
  .block-wrapper.best-photo-model-0001__wrapper
    .block-img.best-photo-model-0001__wrapper-img(style="background-image: url(images/content/анастасия_никитина/__8.jpg);  background-image: image-set(url(images/content/анастасия_никитина/__8x1.jpg) 1x, url(images/content/анастасия_никитина/__8x2.jpg) 2x, url(images/content/анастасия_никитина/__8x3.jpg) 3x);")      