mixin model(image, num, name, link, id)
  a(href=link data-animation_arrow_id=id).model-item
    .block-wrapper
      .model-item__image.block-img(style=image)
    .model-item__number.coll-number Coll № #{num}
    h3.model-item__title #{name}  
