.end-model-0003 {
  padding: rem(30px) 0 0;
  &__contacts {
    display: flex;
    justify-content: space-between;
    a {
      color: $fourth-white;
      margin-top: 10px;
    }
    &-descr {
      margin: rem(20px) 0 rem(20px);
    }
  }
  .img {
    margin-left: rem(20px);
    flex: 0 1 60%;
    min-height: 550px;
    background-position: 0 50%;
  }
}
