.current-model-item__inner.portfolio-model
  h2.portfolio-model__title Портфолио
  .portfolio-model__gallery
    .img(style="background-image: url(images/content/анна_филина/__9.jpg);  background-image: image-set(url(images/content/анна_филина/__9x1.jpg) 1x, url(images/content/анна_филина/__9x2.jpg) 2x, url(images/content/анна_филина/__9x3.jpg) 3x);")
    .img(style="background-image: url(images/content/анна_филина/__13.jpg);  background-image: image-set(url(images/content/анна_филина/__13x1.jpg) 1x, url(images/content/анна_филина/__13x2.jpg) 2x, url(images/content/анна_филина/__13x3.jpg) 3x);") 
    .img(style="background-image: url(images/content/анна_филина/__10.jpg);  background-image: image-set(url(images/content/анна_филина/__10x1.jpg) 1x, url(images/content/анна_филина/__10x2.jpg) 2x, url(images/content/анна_филина/__10x3.jpg) 3x);")
    .img(style="background-image: url(images/content/анна_филина/__11.jpg);  background-image: image-set(url(images/content/анна_филина/__11x1.jpg) 1x, url(images/content/анна_филина/__11x2.jpg) 2x, url(images/content/анна_филина/__11x3.jpg) 3x);")
    .img(style="background-image: url(images/content/анна_филина/__14.jpg);  background-image: image-set(url(images/content/анна_филина/__14x1.jpg) 1x, url(images/content/анна_филина/__14x2.jpg) 2x, url(images/content/анна_филина/__14x3.jpg) 3x);")
    .img(style="background-image: url(images/content/анна_филина/__2.jpg);  background-image: image-set(url(images/content/анна_филина/__2x1.jpg) 1x, url(images/content/анна_филина/__2x2.jpg) 2x, url(images/content/анна_филина/__2x3.jpg) 3x);")