.end-model-0002 {
  display: flex;
  & > * {
    flex: 0 1 50%;
  }
  &__wrapper-img {
    min-height: 700px;
    // height: 100%;
  }
  &__inner {
    margin-left: rem(30px);
  }
  &__headline {
    margin-bottom: rem(20px);
    &-title {
      margin-bottom: rem(20px);
    }
    &-descr {
      font-size: 20px;
    }
  }
  &__socials {
    margin-bottom: rem(80px);
  }
  &__contacts {
    &-title {
      margin-bottom: rem(10px);
    }
    &-list {
      li + li {
        margin-top: rem(10px);
      }
      
    }
  }
}