.best-photo-model {
  padding: rem(50px) 0 0;
  &__headline {
    max-width: 600px;
    width: 100%;
    &-title {
      white-space: nowrap;
      margin-bottom: 10px;
    }
    &-descr {
      height: 50px;
      font-size: 16px;
    }
  }
  // Maybe need rebuild
  &__gallery {
    position: relative;
    &-wrapper {
      position: absolute;
      width: 100%;
      &:first-child {
        right: 0;
        top: -50px;
        max-width: 300px;
        .best-photo-model__gallery-wrapper-img {
          min-height: 400px;
        }
       
      }
      &:nth-child(2) {
        right: 250px;
        top: -20px;
        max-width: 300px;
        .best-photo-model__gallery-wrapper-img {
          min-height: 450px;
        }
       
      }
      &:nth-child(3) {
        top: 50px;
        right: 500px;
        max-width: 500px;
        .best-photo-model__gallery-wrapper-img {
          min-height: 300px;
        }
       
      }
      &:nth-child(4) {
        left: 0;
        top: 0;
        max-width: 400px;
        .best-photo-model__gallery-wrapper-img {
          min-height: 400px;
        }
        
      }
    }
  }
}
