.current-model {
  &__pagination {
    &-dot {
      & + .current-model__pagination-dot {
        margin-top: 5px;
      }
      &.current-model__pagination-dot--active {
        margin-top: 60px;
        margin-bottom: 40px;
      }
      &:first-child.current-model__pagination-dot--active {
        margin-bottom: 40px;
      }
      &:last-child.current-model__pagination-dot--active {
        margin-top: 50px;
      }
      &--active {
        font-size: 36px;
        &::before,
        &::after {
          height: 50px;
        }
        &::before {
          bottom: 55px;
        }
        &::after {
          top: 50px;
        }
      }
    }
  }
}  