include ./../../../mixins/_about-model-list__item.pug

.current-model-item__inner.acquaintance-model-0003
  .acquaintance-model-0003__headline 
    h1.acquaintance-model-0003__headline-title Яна 
  .acquaintance-model-0003__inner       
    .img(style="background-image: url(images/content/яна_полифилова/__12.jpg); background-image: image-set(url(images/content/яна_полифилова/__4x1.jpg) 1x, url(images/content/яна_полифилова/__4x2.jpg) 2x, url(images/content/яна_полифилова/__4x3.jpg) 3x);")
    .acquaintance-model-0003__about 
      p.acquaintance-model-0003__about-descr.about-descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi dicta cupiditate porro dolorum molestiae natus beatae adipisci pariatur quam mollitia expedita repellendus, ea ad. Nam aliquam mollitia incidunt totam reprehenderit nihil quos consectetur placeat ad repellendus accusamus autem nostrum deserunt reiciendis voluptatem rerum corporis, quo maiores a impedit consequuntur? Amet, iusto. Sapiente repellat fugit nisi soluta harum totam libero nulla magni, voluptas explicabo consequatur ducimus suscipit, consectetur omnis aperiam aliquam voluptatibus. Blanditiis, repellat ab eveniet vero sequi enim deleniti maxime fugiat animi magnam repellendus sapiente voluptatem voluptate modi id autem sit. Enim quaerat repellendus accusamus ipsum voluptates numquam ratione laborum. 
      ul.about-model-list.acquaintance-model-0003__about-list  
        +about-model-list__item(' Дата рождения: ', '21 июня 1988 г.')    	 
        +about-model-list__item('Обхват груди: ', '80 см')    
        +about-model-list__item('Обхват талии: ', '60 см') 
        +about-model-list__item('Обхват бедер: ', '85 см') 
        +about-model-list__item('Рост: ', '160 см') 
        +about-model-list__item('Вес: ', '43 кг') 
    
    
    	 

  