.current-model-item__inner.portfolio-model-0003
  .portfolio-model-0003__gallery.portfolio-model-0003__gallery-one.gallery
    .img(style="background-image: url(images/content/яна_полифилова/__21.jpg);  background-image: image-set(url(images/content/яна_полифилова/__13x1.jpg) 1x, url(images/content/яна_полифилова/__13x2.jpg) 2x, url(images/content/яна_полифилова/__13x3.jpg) 3x);")
    .img(style="background-image: url(images/content/яна_полифилова/__23.jpg);  background-image: image-set(url(images/content/яна_полифилова/__14x1.jpg) 1x, url(images/content/яна_полифилова/__14x2.jpg) 2x, url(images/content/яна_полифилова/__14x3.jpg) 3x);") 
    .img(style="background-image: url(images/content/яна_полифилова/__24.jpg);  background-image: image-set(url(images/content/яна_полифилова/__15x1.jpg) 1x, url(images/content/яна_полифилова/__15x2.jpg) 2x, url(images/content/яна_полифилова/__15x3.jpg) 3x);")
    .img(style="background-image: url(images/content/яна_полифилова/__17.jpg);  background-image: image-set(url(images/content/яна_полифилова/__16x1.jpg) 1x, url(images/content/яна_полифилова/__16x2.jpg) 2x, url(images/content/яна_полифилова/__16x3.jpg) 3x);")
  .portfolio-model-0003__box
    h2.portfolio-model-0003__title Портфолио      
    .portfolio-model-0003__gallery.gallery#js-portfolio-model-0003__gallery   
      .img(style="background-image: url(images/content/яна_полифилова/__16.jpg);  background-image: image-set(url(images/content/яна_полифилова/__17x1.jpg) 1x, url(images/content/яна_полифилова/__17x2.jpg) 2x, url(images/content/яна_полифилова/__17x3.jpg) 3x);")
      .img(style="background-image: url(images/content/яна_полифилова/__19.jpg);  background-image: image-set(url(images/content/яна_полифилова/__18x1.jpg) 1x, url(images/content/яна_полифилова/__18x2.jpg) 2x, url(images/content/яна_полифилова/__18x3.jpg) 3x);")
      .img(style="background-image: url(images/content/яна_полифилова/__25.jpg);  background-image: image-set(url(images/content/яна_полифилова/__19x1.jpg) 1x, url(images/content/яна_полифилова/__19x2.jpg) 2x, url(images/content/яна_полифилова/__19x3.jpg) 3x);")
      .img(style="background-image: url(images/content/яна_полифилова/__20.jpg);  background-image: image-set(url(images/content/яна_полифилова/__20x1.jpg) 1x, url(images/content/яна_полифилова/__20x2.jpg) 2x, url(images/content/яна_полифилова/__20x3.jpg) 3x);")