.current-model-item__inner.best-photo-model-0002
  h2.best-photo-model-0002__headline-title Несколько моих фото
  p.best-photo-model-0002__headline-descr sakjdasd kdjklas dlkasjd jd asjdlkasjkl jlkfjak slkas   
  .block-wrapper.best-photo-model-0002__wrapper
    .block-img.best-photo-model-0002__wrapper-img(style="background-image: url(images/content/серафима_маньковская/__9.jpg);  background-image: image-set(url(images/content/серафима_маньковская/__9x1.jpg) 1x, url(images/content/серафима_маньковская/__9x2.jpg) 2x, url(images/content/серафима_маньковская/__9x3.jpg) 3x);") 
  .block-wrapper.best-photo-model-0002__wrapper
    .block-img.best-photo-model-0002__wrapper-img(style="background-image: url(images/content/серафима_маньковская/__10.jpg);  background-image: image-set(url(images/content/серафима_маньковская/__10x1.jpg) 1x, url(images/content/серафима_маньковская/__10x2.jpg) 2x, url(images/content/серафима_маньковская/__10x3.jpg) 3x);")        
  .block-wrapper.best-photo-model-0002__wrapper
    .block-img.best-photo-model-0002__wrapper-img(style="background-image: url(images/content/серафима_маньковская/__13.jpg);  background-image: image-set(url(images/content/серафима_маньковская/__13x1.jpg) 1x, url(images/content/серафима_маньковская/__13x2.jpg) 2x, url(images/content/серафима_маньковская/__13x3.jpg) 3x);")              
  .block-wrapper.best-photo-model-0002__wrapper
    .block-img.best-photo-model-0002__wrapper-img(style="background-image: url(images/content/серафима_маньковская/__7.jpg);  background-image: image-set(url(images/content/серафима_маньковская/__7x1.jpg) 1x, url(images/content/серафима_маньковская/__7x2.jpg) 2x, url(images/content/серафима_маньковская/__7x3.jpg) 3x);")      
  .block-wrapper.best-photo-model-0002__wrapper
    .block-img.best-photo-model-0002__wrapper-img(style="background-image: url(images/content/серафима_маньковская/__11.jpg);  background-image: image-set(url(images/content/серафима_маньковская/__11x1.jpg) 1x, url(images/content/серафима_маньковская/__11x2.jpg) 2x, url(images/content/серафима_маньковская/__11x3.jpg) 3x);")     
       
     
   
     



       
        

  
   
     

             