.best-photo-model-0001 {
  .best-photo-model__headline {
    max-width: 800px;
    width: 100%;
    &-title {
      white-space: pre-wrap;
      line-height: rem(96px);
    }
    &-descr {
      max-width: 300px;
    }
  }
  &__gallery {
    position: relative;
    .img {
      position: absolute;
      &:first-child {
        top: -350px;
        right: 0;
        max-width: 500px;
        width: 100%;
        min-height: 700px;
      }
      &:nth-child(2) {
        top: -265px;
        right: 37%;
        max-width: 540px;
        background-position: 0 -60px;
        width: 100%;
        min-height: 400px;
      }
      &:nth-child(3) {
        top: 137px;
        right: 37%;
        max-width: 600px;
        width: 100%;
        background-position: 0 -56px;
        min-height: 250px;
      }
      &:nth-child(4) {
        top: -50px;
        left: 0;
        max-width: 313px;
        width: 100%;
        background-position: 0 -56px;
        min-height: 185px;
      }
      &:nth-child(5) {
        top: 138px;
        left: 0;
        max-width: 253px;
        width: 100%;
        background-position: 0 -56px;
        min-height: 250px;
      }
     
    } 
  } 
}