.best-photo-model-0001 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 50px repeat(6, 1fr);
  gap: 3px;

  &__headline-title {
    white-space: pre-wrap;
    line-height: 96px;
    grid-column: span 10;
  }
  &__headline-descr {
    font-size: 16px;
    max-width: 300px;
    grid-column: span 6;
  }
  &__wrapper {
    &-img {
      height: 100%;
    }
    &:nth-child(3) {
      grid-column: span 4;
      grid-row: span 7;

      .best-photo-model-0001__wrapper-img {
        background-position: 0 50%;
      }
    }
    &:nth-child(4) {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 5;
      .best-photo-model-0001__wrapper-img {
        background-position: 0 40%;
      }
    }
    &:nth-child(5) {
      grid-column-start: 3;
      grid-column-end: 7;
      grid-row-start: 5;
      grid-row-end: 9;
      .best-photo-model-0001__wrapper-img {
        background-position: 0 50%;
      }
    }
    &:nth-child(6) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 9;
      .best-photo-model-0001__wrapper-img {
        background-position: 0 25%;
      }
    }
    &:nth-child(7) {
      grid-column: span 1;
      grid-row: span 2;
      .best-photo-model-0001__wrapper-img {
        background-position: 0 15%;
      }
    }
    &:nth-child(8) {
      grid-column: span 3;
      grid-row: span 2;
      .best-photo-model-0001__wrapper-img {
        background-position: 0 65%;
      }
    }
  }
}
