.main-collections__inner {
  margin-top: 0;
}
.row {
  flex-direction: column;
  &:last-child {
    align-items: stretch;
  }
}
// catalogue
.main-collections {
  overflow: hidden;
  &::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 0;
    height: 0;
    font-size: 400px;
  }
}
.model-item {
  flex: 0 1 100%;
  margin-bottom: 30px;
  padding-left: 30px;
  &__image {
    min-height: 350px;
  }
  &__title {
    font-size: 30px;
  }
}
.model-item + .model-item {
  margin-left: 0;
}



.coll-list {
  .model-list {
    li {
      padding-left: 60px;
      &::before {
        width: 50px;
      }
    }
    a {
      font-size: 16px;
    }
    .coll-number {
      font-size: 12px;
      margin-right: 10px;
    }
  }
}