.end-model-0001 {
  &__headline {
    text-align: left;
    &-inner {
      flex-direction: column-reverse;
      margin-bottom: rem(40px);
      & > * {
        flex: 0 1 100%;
      }
    }
    &-descr {
      margin-top: 10px;
    }
    .img {
      min-height: 250px;
    }
  }
  &__box {
    &-image {
      margin: 0 0 0;
      min-height: 300px;
    }
  }
  .end-model-0001__socials {
    li a {
      font-size: 16px;
    }
  }
}