.acquaintance-model-0002 {
  &__headline-title {
    font-size: 56px !important;
    line-height: 58px !important;
  }
  &__about-descr {
    &::before {
      bottom: 34%;
      left: 0;
    }
  }
}
