.best-photo-model-0002 {
  grid-template-rows: 110px 40px repeat(2, 1fr) 100px;
  &__wrapper {
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      grid-column: span 10;
      grid-row: span 2;
    }
  }
}