include ./../../../mixins/_about-model-list__item.pug

.current-model-item__inner.acquaintance-model-0001
  .acquaintance-model-0001__top  
    .img.acquaintance-model-0001__top-image(style="background-image: url(images/content/анастасия_никитина/__4.jpg); background-image: image-set(url(images/content/анастасия_никитина/__4x1.jpg) 1x, url(images/content/анастасия_никитина/__4x2.jpg) 2x, url(images/content/анастасия_никитина/__4x3.jpg) 3x);")
    .acquaintance-model-0001__headline 
      h1.acquaintance-model-0001__headline-title <span> Анастасия </span> Никитина
      a.phone(href="tel:+380665996032") +380665996032    
    
  .acquaintance-model-0001__about 
    ul.about-model-list.acquaintance-model-0001__about-list  
      +about-model-list__item(' Дата рождения: ', '17 марта 1994 г.') 	 
      +about-model-list__item('Обхват груди: ', '83 см') 
      +about-model-list__item('Обхват талии: ', '59 см') 
      +about-model-list__item('Обхват бедер: ', '85 см') 
      +about-model-list__item('Рост: ', '167 см') 
      +about-model-list__item('Вес: ', '45 кг')
    .img.acquaintance-model-0001__about-image(style="background-image: url(images/content/анастасия_никитина/__11.jpg); background-image: image-set(url(images/content/анастасия_никитина/__4x1.jpg) 1x, url(images/content/анастасия_никитина/__4x2.jpg) 2x, url(images/content/анастасия_никитина/__4x3.jpg) 3x);")  
    p.acquaintance-model-0001__about-descr.about-descr.js-about-descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi dicta cupiditate porro dolorum molestiae natus beatae adipisci pariatur quam mollitia expedita repellendus, ea ad. Nam aliquam mollitia incidunt totam reprehenderit nihil quos consectetur placeat ad repellendus accusamus autem nostrum deserunt reiciendis voluptatem rerum corporis, quo maiores a impedit consequuntur? Amet, iusto. Sapiente repellat fugit nisi soluta harum totam libero nulla magni, voluptas explicabo consequatur ducimus suscipit, consectetur omnis aperiam aliquam voluptatibus. Blanditiis, repellat ab eveniet vero sequi enim deleniti maxime fugiat animi magnam repellendus sapiente voluptatem voluptate modi id autem sit. Enim quaerat repellendus accusamus ipsum voluptates numquam ratione laborum.  
    
    
    	 

  