include ./../../mixins/_model-item.pug
include ./../../mixins/_model-list-item.pug
//- './annaFilina.html' './anastasiaNikitina.html' './victoriaMonastyrskaya.html' './yanaPolifilova.html' 
section.main-collections   
  .container
    .main-collections__inner 
      .row  
        +model('background-image: url(images/content/анна_филина/__1.jpg); background-image: image-set(url(images/content/анна_филина/__1x1.jpg) 1x, url(images/content/анна_филина/__1x2.jpg) 2x, url(images/content/анна_филина/__1x3.jpg) 3x);', 1, 'Анна Филина', './first-design.html', 1) 
        +model('background-image: url(images/content/анастасия_никитина/__1.jpg); background-image: image-set(url(images/content/анастасия_никитина/__1x1.jpg) 1x, url(images/content/анастасия_никитина/__1x2.jpg) 2x, url(images/content/анастасия_никитина/__1x3.jpg) 3x);', 2, 'Анастасия Никитина', './second-design.html', 2)  
        ul.model-list.model-list--left
          +model-list-item(3, 'Яна Полифилова', 3)
          +model-list-item(4, 'Яна Полифилова', 4)  
          +model-list-item(5, 'Яна Полифилова', 5) 
          +model-list-item(6, 'Яна Полифилова', 6)
          +model-list-item(7, 'Яна Полифилова', 7) 
          +model-list-item(8, 'Яна Полифилова', 8)
      .row     
        ul.model-list.model-list--right 
          +model-list-item(9,  'Яна Полифилова', 9)
          +model-list-item(10, 'Яна Полифилова', 10)   
          +model-list-item(11, 'Яна Полифилова', 11)
          +model-list-item(12, 'Яна Полифилова', 12)
          +model-list-item(13, 'Яна Полифилова', 13) 
          +model-list-item(14, 'Яна Полифилова', 14)
        +model('background-image: url(images/content/серафима_маньковская/__1.jpg); background-image: image-set(url(images/content/серафима_маньковская/__1x1.jpg) 1x, url(images/content/серафима_маньковская/__1x2.jpg) 2x, url(images/content/серафима_маньковская/__1x3.jpg) 3x);', 15, 'серафима маньковская', './third-design.html', 15)
        +model('background-image: url(images/content/яна_полифилова/__5.jpg); background-image: image-set(url(images/content/яна_полифилова/__2x1.jpg) 1x, url(images/content/яна_полифилова/__2x2.jpg) 2x, url(images/content/яна_полифилова/__2x3.jpg) 3x);', 16, 'яна полифилова', './fourth-design.html', 16)     
            