 
  .portfolio-model {
    &__title {
      text-align: center;
    }
    &__gallery {
      &-wrapper {
        margin-bottom: 5px;
        &-img {
          min-height: 250px;
        }
        
      }
    }
  }