h1 {
  font-size: 44px !important;
  line-height: 46px !important;
}

h2 {
  font-size: 32px !important;
  line-height: 34px !important; 
}

.model-socials li {
  margin-left: 10px;
  & a {
    font-size: 14px;
  }
}
.about-descr {
  font-size: 18px;
}
// Rebuild
.about-model-list {
  li {
    &:first-child {
      padding-left: 0 !important;
      &::before {
        display: none;
      }
    }
    &:nth-child(2) {
      padding-left: 65px;
    }
    &:nth-child(2)::before {
      width: 55px;
    }
    &:nth-child(3) {
      padding-left: 50px;
    }
    &:nth-child(3)::before {
      width: 40px;
    }
    &:nth-child(4) {
      padding-left: 80px;
    }
    &:nth-child(4)::before {
      width: 70px;
    }
    &:nth-child(5) {
      padding-left: 110px;
    }
    &:nth-child(5)::before {
      width: 100px;
    }
    &:nth-child(6) {
      padding-left: 40px;
    }
    &:nth-child(6)::before {
      width: 30px;
    }
  }
}

.footer-collection__title {
  font-size: 10px;
}