.best-photo-model-0001 {
  grid-template-rows: 1fr 70px repeat(18, 1fr);
  &__wrapper {
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      grid-column: span 10;
      grid-row: span 3;
    }
  }

  &__headline-descr {
    margin-bottom: 30px;
  }
}
