.acquaintance-model-0002 {
  &-wrapper {
    margin-bottom: 10px;
  }
  &__headline-title {
    font-size: 36px !important;
    line-height: 38px !important;
  }
  &__about-descr {
    margin-bottom: 10px;
    &::before {
      display: none;
    }
  }
}