.modal {
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, .5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-window {
    width: 600px;
    border-radius: 5px;
    background-color: #fff;
    height: 200px;
    // margin: 0 auto;
  }
}