.current-model-item__inner.end-model-0003 
  .end-model-0003__headline     
    h2.end-model-0003__headline-title Пора прощатся
  .end-model-0003__contacts
    .end-model-0003__contacts-box
      p.end-model-0003__contacts-descr.about-descr.js-about-descr Была рада с тобой познакомится Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsa sapiente mollitia natus. Ab molestiae repudiandae quo dicta pariatur fugit laboriosam praesentium quaerat! Similique, mollitia! Ducimus iusto ex dignissimos officia. Corporis ducimus iure temporibus. Harum reiciendis, distinctio maiores sunt voluptatibus id est recusandae nostrum nisi! Deserunt, tenetur nisi voluptatum a sapiente maiores quos eaque cupiditate? Nam inventore praesentium pariatur maxime amet, officia blanditiis aspernatur neque rerum quasi ipsam. Exercitationem, eius illo accusamus nisi, sed reiciendis quam molestias voluptates sapiente corporis debitis expedita? Eveniet sint velit porro laboriosam quaerat incidunt facilis temporibus commodi, perspiciatis molestiae impedit, corporis soluta minima, ducimus saepe.
      h3.end-model-0001__contacts-title Пиши, звони набирай меня     
      a.contacts-link(href="https://fotopoisk.com.ua/dnepropetrovsk/fotomodeli/5885-fotomodel-iana-yana") 5885-fotomodel-iana-yana      
    .block-wrapper.end-model-0003__contacts-wrapper
      .block-img.end-model-0003__contacts-wrapper-img(style="background-image: url(images/content/яна_полифилова/__18.jpg);  background-image: image-set(url(images/content/яна_полифилова/__21x1.jpg) 1x, url(images/content/яна_полифилова/__21x2.jpg) 2x, url(images/content/яна_полифилова/__21x3.jpg) 3x);")
  