.acquaintance-model {
  padding: rem(50px) 0;
  &__content {
    display: flex;
    align-items: flex-end;
  }
  &__headline {
    position: relative;
    .phone {
      position: absolute;
      bottom: 0;
      right: 20px;
    }
  }
  &__socials {
    margin-left: rem(150px);
  }
  &__about {
    display: flex;
    margin-top: 10px;
    &-inner {
      flex: 0 1 50%;
      margin-top: rem(70px);
    }
  }
  &__images {
    flex:  0 1 50%;
    min-height: 430px;
    height: 100%;
  }
}
.acquaintance-model__about-descr {
  padding-top: rem(10px);
  margin: rem(50px) rem(60px) 0 auto;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -50px;
    height: 1px;
    width: 100%;
    background-color: $main-color;
  }
}

