.acquaintance-model {
  display: flex;
  &__content {
    padding: rem(50px) 0;
    flex: 0 1 60%;
  }
  &__images {
    padding: rem(100px) 0 0;
    flex: 1 1 40%;
    text-align: center;
    position: relative;
    .img {
      position: absolute;
      bottom: 60px;
      left: -150px;
      width: 125%;
      min-height: 430px;
    }

  }
}
.acquaintance-model__headline {
  position: relative;
  display: inline-block;
  .phone {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
}

.acquaintance-model__about {
  margin-top: rem(115px);
}  
.acquaintance-model__about-descr {
  
  padding-top: rem(10px);
  margin: rem(50px) 170px 0 auto;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    height: 1px;
    width: 100%;
    background-color: $main-color;
  }
}
.acquaintance-model__socials {
  display: inline-block;
  margin-top: 12%;
}
