.end-model-0001 {
  padding: rem(20px) 0 0;
  &__headline {
    text-align: right;
    &-inner {
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(10px);
      & > * {
        flex: 0 1 calc(50% - 20px);
      } 
    }
   
    &-title {
      margin: 0 rem(50px) rem(10px) 0;
    }
    
    &-descr {
      font-size: 16px;
      text-align: left;
      margin-left: rem(50px);
      height: 160px;
      overflow: hidden;
      
    }
    .img {
      min-height: 400px;
    }
    
  }
  &__socials {
    margin-top: rem(30px);
    text-align: left;
  }
  &__box {
    display: flex;
    &-image {
      margin: -150px 0 0;
      flex: 0 1 45%;
      min-height: 340px;
    }
  }
}

.end-model-0001__contacts {
  flex: 0 1 calc(55% - 10px);
  margin: rem(10px) 0 0 auto;
  &-title {
    margin-bottom: 5px;
  }
  &-list {
    li {
      margin-bottom: 5px;
    }
  }
}
