.end-model-0001 {
  padding: rem(20px) 0 0;
  &__headline {
    text-align: right;
    &-inner {
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(10px);
      &-box {
        flex: 0 1 calc(75% - 20px);
      }
    }
   
    &-title {
      margin: 0 rem(50px) rem(10px) 0;
    }
    
    &-descr {
      font-size: 20px;
      text-align: left;
      margin: 0 rem(10px) 0 rem(50px);
    }
    &-wrapper {
      flex: 0 1 calc(25% - 20px);
      &-img {
        min-height: 400px;
      }
    }
   
    
  }
  &__socials {
    margin-top: rem(30px);
    text-align: left;
  }
  &__box {
    display: flex;
    &-wrapper {
      margin: -150px 0 0;
      flex: 0 1 45%;
      &-img {
        min-height: 340px;
      }
     
    }
  }
}

.end-model-0001__contacts {
  flex: 0 1 calc(55% - 10px);
  margin: rem(10px) 0 0 auto;
  &-title {
    margin-bottom: 5px;
  }
  &-list {
    li {
      margin-bottom: 5px;
    }
  }
}
