.best-photo-model__headline-title {
  white-space: pre-wrap;
}
.best-photo-model__gallery {
  flex-wrap: wrap;
  margin-top: 0;
  &-wrapper {
    flex: 0 1 50%;
    &:first-child,
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 0;
      max-width: 100%;
      .best-photo-model__gallery-wrapper-img {
        min-height: 350px;
      }
    }
    
  }
}
