.end-model-0003 {
  &__headline {
    margin-bottom: rem(20px);
  }
  &__contacts {
    flex-direction: column-reverse;
    &-wrapper {
      margin-left: 0;
      &-img {
        min-height: 400px;
      }
    }
  }
}
