#home {
  overflow-y: auto;  
}

h1 {
  font-size: 74px !important;  
  line-height: 74px !important;
}

h2 {
  font-size: 50px;
  line-height: 50px;
}

.about-descr {
  max-width: 100%;
}

.footer {
  margin: 10px 0 10px;
}
.footer-collection__title {
  font-size: 24px;
  line-height: 24px;
  padding-right: 0;
  &::before {
    display: none;
  }
}