.acquaintance-model-0002 {
  flex-direction: column-reverse;
  &__about-descr {
    &::before {
      bottom: 37%;
      left: 0;
    }
  }
  &-wrapper {
    margin-bottom: rem(50px);
    &-img {
      min-height: 300px;
    }
  }
}