.best-photo-model-0002 {
  &__headline-descr {
    grid-column: span 10;
  }
  .img {
    min-height: 300px;
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      grid-column: span 5;
      grid-row: span 2;
    }
    &:nth-child(3) {
      grid-row-start: 7;
      grid-row-end: 8;
      grid-column: span 10;
    }
  }
}