.main-collections {
  .row {
    justify-content: center;
    &:last-child {
      align-items: stretch;
    }
  }
}
.main-collections__inner {
  margin-top: 50px;
 
}
.model-item {
  flex: 1 1 20%;
  &::before {
    bottom: -4%;
    font-size: 16px;
  }
}

.model-list--right {
  order: 1;
  margin-left: rem(175px);
  margin-right: 0;
}