.best-photo-model-0001 {
  grid-template-rows: 1fr 50px repeat(9, 1fr);

  &__headline-title {
    font-size: 64px;
    line-height: 64px;
  }
  &-wrapper {
    &:nth-child(3) {
      grid-column: span 4;
      grid-row: span 7;
      .best-photo-model-0001__wrapper-img {
        background-position: 0 50%;
      }
    }
    &:nth-child(4) {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 3;
      grid-row-end: 5;
      .best-photo-model-0001__wrapper-img {
        background-position: 0 20%;
      }
    }
    &:nth-child(5) {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 9;
      grid-row-end: 12;
    }
    &:nth-child(6) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 9;
    }
    &:nth-child(7) {
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-start: 5;
      grid-row-end: 9;
    }
    &:nth-child(8) {
      grid-column-start: 7;
      grid-column-end: 11;
      grid-row-start: 9;
      grid-row-end: 12;
    }
  }
}
