.current-model-item__inner.end-model-0001  
  .end-model-0001__headline     
    h2.end-model-0001__headline-title Пора прощатся
    .end-model-0001__headline-inner
      .end-model-0001__headline-inner-box
        p.end-model-0001__headline-descr Была рада с тобой познакомится Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsa sapiente mollitia natus. Ab molestiae repudiandae quo dicta pariatur fugit laboriosam praesentium quaerat! Similique, mollitia! Ducimus iusto ex dignissimos officia. Corporis ducimus iure temporibus. Harum reiciendis, distinctio maiores sunt voluptatibus id est recusandae nostrum nisi! Deserunt, tenetur nisi voluptatum a sapiente maiores quos eaque cupiditate? Nam inventore praesentium pariatur maxime amet, officia blanditiis aspernatur neque rerum quasi ipsam. Exercitationem, eius illo accusamus nisi, sed reiciendis quam molestias voluptates sapiente corporis debitis expedita? Eveniet sint velit porro laboriosam quaerat incidunt facilis temporibus commodi, perspiciatis molestiae impedit, corporis soluta minima, ducimus saepe.
        ul.model-socials.end-model-0001__socials
          li 
            a(href="#") Facebook
          li 
            a(href="#") Facebook
          li 
            a(href="#") Facebook
      .img(style="background-image: url(images/content/анастасия_никитина/__21.jpg);  background-image: image-set(url(images/content/анастасия_никитина/__21x1.jpg) 1x, url(images/content/анастасия_никитина/__21x2.jpg) 2x, url(images/content/анастасия_никитина/__21x3.jpg) 3x);")
  .img.end-model-0001-img(style="background-image: url(images/content/анастасия_никитина/__22.jpg);  background-image: image-set(url(images/content/анастасия_никитина/__22x1.jpg) 1x, url(images/content/анастасия_никитина/__22x2.jpg) 2x, url(images/content/анастасия_никитина/__22x3.jpg) 3x);")       
  .end-model-0001__contacts
    h3.end-model-0001__contacts-title Пиши, звони набирай меня  
    ul.end-model-0001__contacts-list
      li    
        a.contacts-link(href="#") https://vk.com/jane_rouse
      li 
        a.contacts-link(href="#") https://fotopoisk.com.ua/donetsk/fotomodeli/1799-fotomodel-anastasiia-nikitina 
      li 
        a.contacts-link(href="#") https://podium.im/models/Anna-Filina  
    a(href="tel:+3806314817716").end-model-0001__contacts-phone.phone +3806314817716