.end-model {
  padding: rem(20px) 0 0;
  &__headline-descr {
    margin-left: auto;
    max-width: 460px;
  }
  &__socials {
    margin-top: -45px;
    &-list {
      margin: rem(15px) 0 0;
    }
  }
  
}