.end-model {
  padding: rem(20px) 0 0;
  &__headline-descr {
    margin-left: auto;
  }
  &__image {
    margin-top: -90px;
    min-height: 300px;
  }
  &__socials {
    margin: rem(15px) 0 0;
  }
  &__image {
    margin-top: -90px;
    min-height: 340px;
  }
}