.best-photo-model__gallery {
  &-wrapper {
    &:first-child {
      top: -50px;
    }
    &:nth-child(2) {
      top: -40px;
    }
    &:nth-child(3) {
      top: 0;
    }
    &:nth-child(4) {
      top: -10px;
    }
  }
  .best-photo-model__gallery-wrapper-img {
    &:first-child {
      min-height: 320px;
    }
    &:nth-child(2) {
      min-height: 300px;
    }
    &:nth-child(3) {
      min-height: 250px;
    }
    &:nth-child(4) {
      min-height: 280px;
    }
  }
}