.acquaintance-model-0001 {
  &__top {
    &-img {
      min-height: 410px;
    }
  }
  &__about {
    &-wrapper {
      margin: -210px 100px 0 0;
    }
    &-img {
      min-height: 390px;
     
    }
  }

}