.end-model-0001 {
  padding: 0;
  &__headline {
    &-inner {
      margin: 0;
    }
    &-title {
      margin-bottom: rem(5px);
    }
    .img {
      min-height: 280px;
    }
  }
  &__box-image {
    min-height: 200px;
  }
  &__socials {
    margin-top: rem(10px);
  }
}