.portfolio-model {
  padding: rem(50px) 0 0;
  &__gallery {
   
    .img {
      flex: 0 1 calc(33.333333% - 15px);
      min-height: 250px;
      margin-bottom: 20px;
      cursor: pointer;
      &:nth-child(2) {
        background-position: center center;
      }

    }
  }
}