extends template/_current-model.pug
//- Naming this-model and link in second blocks with images 
block items
  .current-model-item.swiper-slide
    .current-model-item__content.this-model
      .this-model__headline
        h1.this-model__title Анна Филина
        a(href="tel:+380631481775") +380631481775 
      .this-model__about
        ul.this-model__about-list
          li Дата рождения:	
            span 13 июля 1996 г. 
          li Обхват груди:	
            span 85 см
          li Обхват талии:	
            span 60 см
          li Обхват бедер:	
            span 90 см
          li Рост:	
            span 170 см
          li Вес:	
            span 49 кг 
        .this-model__about-descr Привет меня зовут Анна)Давай знакомиться)) Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nam ad culpa nostrum pariatur ea, voluptate distinctio temporibus ab accusamus ipsum repudiandae numquam vel expedita consequatur iure, voluptas ullam atque sunt aperiam odit quos corporis rem. Soluta obcaecati ex odio, ab fuga necessitatibus quo cupiditate! Similique corrupti sit architecto sed.         
    .current-model-item__images
      //- 
      ul.this-model__links
        li 
          a(href="#") Facebook
        li 
          a(href="#") Facebook
        li 
          a(href="#") Facebook
      //- 
      .img(style="background-image: url(images/content/анна_филина/__3.jpg);  background-image: image-set(url(images/content/анна_филина/__4x1.jpg) 1x, url(images/content/анна_филина/__3x2.jpg) 2x, url(images/content/анна_филина/__3x3.jpg) 3x);") 

  .current-model-item.swiper-slide      
    h1 Hello I am Anna 
  .current-model-item.swiper-slide   
    h1 Hello I am Anna    
  .current-model-item.swiper-slide       
    h1 Hello I am Anna                                 