extends template/_first-design-model.pug
   
block items
  .current-model-item.swiper-slide
    include modules/first-design/acquaintance-model/_acquaintance-model.pug

  .current-model-item.swiper-slide  
    include modules/first-design/best-photo-model/_best-photo-model.pug

  .current-model-item.swiper-slide   
    include modules/first-design/portfolio-model/_portfolio-model.pug

  .current-model-item.swiper-slide
    include modules/first-design/end-model/_end-model.pug                                 
  
  

