extends template/_fourth-design-model.pug
block items             
  .current-model-item.swiper-slide
    include modules/fourth-design/acquaintance-model-0003/_acquaintance-model-0003.pug
  
  .current-model-item.swiper-slide 
    include modules/fourth-design/best-photo-model-0003/_best-photo-model-0003.pug
  
  .current-model-item.swiper-slide    
    include modules/fourth-design/portfolio-model-0003/_portfolio-model-0003.pug

  .current-model-item.swiper-slide
    include modules/fourth-design/end-model-0003/_end-model-0003.pug     
    
  