extends template/_second-design-model.pug
block items             
  .current-model-item.swiper-slide
    include modules/second-design/acquaintance-model-0001/_acquaintance-model-0001.pug
  
  .current-model-item.swiper-slide 
    include modules/second-design/best-photo-model-0001/_best-photo-model-0001.pug
  
  .current-model-item.swiper-slide  
    include modules/second-design/portfolio-model-0001/_portfolio-model-0001.pug

  .current-model-item.swiper-slide
    include modules/second-design/end-model-0001/_end-model-0001.pug     
    