extends template/_third-design-model.pug

block items             
  .current-model-item.swiper-slide.overflow-auto
    include modules/third-design/acquaintance-model-0002/_acquaintance-model-0002.pug
    
  .current-model-item.swiper-slide.overflow-auto 
    include modules/third-design/best-photo-model-0002/_best-photo-model-0002.pug
  
  .current-model-item.swiper-slide  
    include modules/third-design/portfolio-model-0002/_portfolio-model-0002.pug

  .current-model-item.swiper-slide.overflow-auto 
    include modules/third-design/end-model-0002/_end-model-0002.pug     
                