.best-photo-model-0003 {
  .best-photo-model__headline  {
    &-descr {
      height: 60px;
    }
  }
  &__gallery {
    position: relative;
    padding: rem(20px) 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    .img {
      margin-left: 10px;
      flex: 0 0 calc(33.3333% - 10px);  
      min-height: 350px;
    }
    &--two {
      position: absolute;
      top: 200px;
      left: 0px;
      height: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
      .img {
        flex: 0 0 40%;
        opacity: .9;  
      }
    }

  }
}