.best-photo-model-0003 {
  &__gallery {
    position: relative;
    padding: rem(20px) 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    &-wrapper {
      margin-left: 10px;
      flex: 0 0 calc(33.3333% - 10px);
    }
    &-two {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      height: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
      &-wrapper {
        flex: 0 0 40%;
        opacity: 0.9;
      }
    }
    .block-img {
      min-height: 350px;
    }
  }
}
