.swal2-icon {
  margin: .25em auto .5em !important;
  width: 4em !important;
  height: 4em !important;
}
.swal2-icon .swal2-icon-content {
  font-size: 2.75em !important;
}
.swal2-actions {
  margin: .25em auto 0 !important;
}
.swal2-title {
  line-height: 50px !important;
}