.acquaintance-model-0001 {
  display: flex;
  flex-direction: column;
  &__top {
    position: relative;
    .img {
      position: absolute;
      &:first-child {
      
        top: -35%;
        left: 7%;
        max-width: 300px;
        min-height: 500px;
      }
      &:last-child {
        top: 100px;
        left: 28%;
        max-width: 400px;
        min-height: 500px;
      }
    }
  }
  &__headline {
    position: relative;
    text-align: right;
    &-title {
      span {
        margin-right: 280px;
      }
    }
    .phone {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  &__about {
    padding: rem(50px) 0 0;
    display: flex;
    justify-content: space-between;
    &-list {
      margin-top: auto;
    }
    &-descr {
      margin: 50px 40px 0 0;
    }
  }
}
