.current-model-item__inner.best-photo-model
  .best-photo-model__headline      
    h2.best-photo-model__headline-title Несколько моих фото
    p.best-photo-model__headline-descr sakjdasd kdjklas dlkasjd jd asjdlkasjkl jlkfjak slkas  
  //- Naming Class TODO
  .best-photo-model__gallery
    .block-wrapper.best-photo-model__gallery-wrapper
      .block-img.best-photo-model__gallery-wrapper-img(style="background-image: url(images/content/анна_филина/__8.jpg);  background-image: image-set(url(images/content/анна_филина/__8x1.jpg) 1x, url(images/content/анна_филина/__8x2.jpg) 2x, url(images/content/анна_филина/__8x3.jpg) 3x);") 
    .block-wrapper.best-photo-model__gallery-wrapper
      .block-img.best-photo-model__gallery-wrapper-img(style="background-image: url(images/content/анна_филина/__5.jpg);  background-image: image-set(url(images/content/анна_филина/__5x1.jpg) 1x, url(images/content/анна_филина/__5x2.jpg) 2x, url(images/content/анна_филина/__5x3.jpg) 3x);")
    .block-wrapper.best-photo-model__gallery-wrapper
      .block-img.best-photo-model__gallery-wrapper-img(style="background-image: url(images/content/анна_филина/__6.jpg);  background-image: image-set(url(images/content/анна_филина/__6x1.jpg) 1x, url(images/content/анна_филина/__6x2.jpg) 2x, url(images/content/анна_филина/__6x3.jpg) 3x);") 
    .block-wrapper.best-photo-model__gallery-wrapper
      .block-img.best-photo-model__gallery-wrapper-img(style="background-image: url(images/content/анна_филина/__7.jpg);  background-image: image-set(url(images/content/анна_филина/__7x1.jpg) 1x, url(images/content/анна_филина/__7x2.jpg) 2x, url(images/content/анна_филина/__7x3.jpg) 3x);")           
