.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
    width: 100%;
    margin-left: auto;
  }
  &-collection__title {
    position: relative;
    line-height: 48px;
    font-size: rem(48px);
    padding-right: 125px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      height: 1px;
      width: 110px;
      background-color: $main-color;
    }
  }
}