.footer {
  position: relative;
  z-index: 101;
  text-align: center;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
    width: 100%;
    margin-left: auto;
  }
  &-collection__title {
    position: relative;
    line-height: 48px;
    font-size: 48px;
    padding-right: 125px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      height: 1px;
      max-width: 110px;
      animation: slideWidthX 1.5s ease-in forwards;
      background-color: $main-color;
    }
  }
}