.portfolio-model-0003 {
  display: flex;
  justify-content: space-between;
  .portfolio-model-0003__gallery { 
    max-width: 600px;
    width: 100%;
    height: 100%;
    .img {
      flex: 0 1 calc(50% - 3px);
      margin: 0 0 3px 3px;
      min-height: 280px;   
    }
    &-one {
      margin-left: 72px;
      .img:nth-child(2) {
        background-position: 0 65%;
      }
    }
  }  
  &__box {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .portfolio-model-0003__gallery {
      .img:nth-child(4) {
        background-position: 0 60%;
      }
    }
    
  }
  &__title {
    text-align: right;
    margin: 10px 0 rem(50px);
  }
}