// ANIMATION WITH JS
.translate-enter {
  opacity: 0;
}
.translate-enter-active {
  animation: showSmallSlideX 1s ease-in;
}
.translate-enter-to {
  
}

.translate-leave { 
  transform: translateX(0);
} 
.translate-leave-active {
  animation: hideSmallSlideX 1s ease-out;
}
.translate-leave-to {

}

@keyframes defaultParties {
  to {
    transform: translateX(0);
  }
}

// @function slideX(, to) {
//   @keyframes a {
//     from {

//     }
//     to {

//     }
//   }
// }
@keyframes showSmallSlideX {
  0% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(30px);

  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hideSmallSlideX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideX {
  0% {
    transform: translateX(0)
  }
  80% {
    transform: translateX(30px)
  }
  100% {
    transform: translateX(20px)
  }
  
}

.slideX {
  animation: slideX .5s easy-in forwards !important; 
}

.slideXBefore {
  &::before {
    content: '';
    animation: slideX .5s easy-in forwards !important;
  }
}

// @keyframes lineSlideX {
//   0% {
//     transform: translateX(0)
//   }
//   100% {
//     transform: translateX(20px)
//   }
  
// }

@keyframes reverseSlideX {
  0% {
    transform: translateX(20px)
  }
  100% {
    transform: translateX(0);
  }
}

.reverseSlideX {
  animation: reverseSlideX .3s ease-out;
}

.reverseSlideXBefore {
  &::before {
    content: '';
    animation: reverseSlideX .3s ease-out;
  }
}