// ANIMATION WITH JS
.translate-enter {
  opacity: 0;
}
.translate-enter-active {
  animation: showSmallSlideX 1s ease-in;
}
.translate-enter-to {
  
}

.translate-leave { 
  transform: translateX(0);
} 
.translate-leave-active {
  animation: hideSmallSlideX 1s ease-out;
}
.translate-leave-to {

}




@keyframes defaultParties {
  to {
    transform: translateX(0);
  }
}  

@keyframes showSmallSlideX {
  0% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(30px);

  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hideSmallSlideX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}