// ON IMPORT LINK PLEASE PRESS CTRL + CLICK
//  ============================== HEIGHT ================================================================

@media (max-height: 900px) {
  @import "../modules/media/height/height-900/global";

  @import "../modules/media/height/height-900/second-design-best-photo";

  @import "../modules/media/height/height-900/third-design-best-photo";
}
@media (max-height: 800px) {
  @import "../modules/media/height/height-800/global";

  @import "../modules/media/height/height-800/index";

  @import "../modules/media/height/height-800/first-design-acquaintance";
  @import "../modules/media/height/height-800/first-design-best-photo";
  @import "../modules/media/height/height-800/first-design-portfolio";
  @import "../modules/media/height/height-800/first-design-end-model";

  @import "../modules/media/height/height-800/second-design-acquaintance";
  @import "../modules/media/height/height-800/second-design-best-photo";
  @import "../modules/media/height/height-800/second-design-portfolio";
  @import "../modules/media/height/height-800/second-design-end-model";

  @import "../modules/media/height/height-800/third-design-acquaintance";
  @import "../modules/media/height/height-800/third-design-best-photo";
  @import "../modules/media/height/height-800/third-design-portfolio";
  @import "../modules/media/height/height-800/third-design-end-model";

  @import "../modules/media/height/height-800/fourth-design-acquintance";
  @import "../modules/media/height/height-800/fourth-design-best-photo";
  @import "../modules/media/height/height-800/fourth-design-portfolio";
  @import "../modules/media/height/height-800/fourth-design-end-model";
}

@media (max-height: 730px) {
  @import "../modules/media/height/height-730/global";

  @import "../modules/media/height/height-730/index";
}

@media (max-height: 705px) {
  @import "../modules/media/height/height-705/global";

  @import "../modules/media/height/height-705/first-design-acquaintance";
  @import "../modules/media/height/height-705/first-design-best-photo";
  @import "../modules/media/height/height-705/first-design-portfolio";
  @import "../modules/media/height/height-705/first-design-end-model";

  @import "../modules/media/height/height-705/second-design-acquintance";
  @import "../modules/media/height/height-705/second-design-portfolio";
  @import "../modules/media/height/height-705/second-design-end-model";

  @import "../modules/media/height/height-705/third-design-best-photo";
  @import "../modules/media/height/height-705/third-design-portfolio";

  @import "../modules/media/height/height-705/fourth-design-acquintance";
  @import "../modules/media/height/height-705/fourth-design-end-model";
}

@media (max-height: 685px) {
  @import "../modules/media/height/height-685/index";

  @import "../modules/media/height/height-685/first-design-acquaintance";
}

@media (max-height: 600px) {
  @import "../modules/media/height/height-600/index";

  @import "../modules/media/height/height-600/current-model";

  @import "../modules/media/height/height-600/first-design-acquaintance";
}

@media (max-height: 500px) {
  @import "../modules/media/height/height-500/current-model";
}
@media (max-height: 450px) {
 
}
@media (max-height: 400px) {
  @import '../modules/media/height/height-400/current-model';
  
} 
//========================================= WIDTH ================================================================
@media (max-width: 1400px) {
  @import "../modules/media/width/width-1400/second-design-acquaintance";
}

@media (max-width: 1300px) {
  @import "../modules/media/width/width-1300/global";

  @import "../modules/media/width/width-1300/first-design-acquaintance";
  @import "../modules/media/width/width-1300/first-design-best-photo";

  @import "../modules/media/width/width-1300/second-design-acquaintance";

  @import "../modules/media/width/width-1300/third-design-acquaintance";
}

@media (max-width: 1230px) {
  @import "../modules/media/width/width-1230/second-design-acquaintance";
  @import "../modules/media/width/width-1230/second-design-best-photo";
}

@media (max-width: 1120px) {
  @import "../modules/media/width/width-1120/global";
  @import '../modules/media/width/width-1120/modal';
  @import "../modules/media/width/width-1120/index";

  @import "../modules/media/width/width-1120/first-design-acquaintance";
  @import "../modules/media/width/width-1120/first-design-best-photo";
  @import "../modules/media/width/width-1120/first-design-end-model";

  @import "../modules/media/width/width-1120/second-design-best-photo";
  @import "../modules/media/width/width-1120/second-design-end-model";

  @import "../modules/media/width/width-1120/third-design-acquaintance";
  @import "../modules/media/width/width-1120/third-design-best-photo";

  @import "../modules/media/width/width-1120/fourth-design-acquintance";
}
@media (max-width: 850px) {
  @import "../modules/media/width/width-850/second-design-end-model";

  @import "../modules/media/width/width-850/fourth-design-portfolio";
}
@media (max-width: 815px) {
  @import "../modules/media/width/width-815/global";

  @import "../modules/media/width/width-815/index";

  @import "../modules/media/width/width-815/current-model";

  @import "../modules/media/width/width-815/first-design-acquaintance";
  @import "../modules/media/width/width-815/first-design-best-photo";
  @import "../modules/media/width/width-815/first-design-portfolio";
  @import "../modules/media/width/width-815/first-design-end-model";

  @import "../modules/media/width/width-815/second-design-acquintance";
  @import "../modules/media/width/width-815/second-design-best-photo";
  @import "../modules/media/width/width-815/second-design-portfolio";
  @import "../modules/media/width/width-815/second-design-end-model";

  @import "../modules/media/width/width-815/third-design-acquaintance";
  @import "../modules/media/width/width-815/third-design-best-photo";
  @import "../modules/media/width/width-815/third-design-portfolio";
  @import "../modules/media/width/width-815/third-design-end-model";

  @import "../modules/media/width/width-815/fourth-design-acquintance";
  @import "../modules/media/width/width-815/fourth-design-best-photo";
  @import "../modules/media/width/width-815/fourth-design-portfolio";
  @import "../modules/media/width/width-815/fourth-design-end-model";
}
@media (max-width: 700px) {
  @import "../modules/media/width/width-700/third-design-best-photo";
}
@media (max-width: 600px) {
  @import "../modules/media/width/width-600/global";

  @import "../modules/media/width/width-600/index";

  @import "../modules/media/width/width-600/current-model";

  @import "../modules/media/width/width-600/first-design-best-model";
  @import "../modules/media/width/width-600/first-design-portfolio";

  @import "../modules/media/width/width-600/third-design-acquaintance";
  @import "../modules/media/width/width-600/third-design-best-photo";
  @import "../modules/media/width/width-600/third-design-portfolio";
  @import "../modules/media/width/width-600/third-design-end-model";

  @import "../modules/media/width/width-600/fourth-design-best-photo";
  @import "../modules/media/width/width-600/fourth-design-portfolio";
}

@media (max-width: 480px) {
  @import "../modules/media/width/width-480/global";

  @import '../modules/media/width/width-480/modal';
 
  @import "../modules/media/width/width-480/index";

  @import "../modules/media/width/width-480/current-model";

  @import "../modules/media/width/width-480/first-design-acquaintance";
  @import "../modules/media/width/width-480/first-design-portfolio";
  @import "../modules/media/width/width-480/first-design-end-model";

  @import "../modules/media/width/width-480/second-design-acquaintance";
  @import "../modules/media/width/width-480/second-design-best-photo";
  @import "../modules/media/width/width-480/second-design-portfolio";
  @import "../modules/media/width/width-480/second-design-end-model";

  @import "../modules/media/width/width-480/third-design-acquaintance";
  @import "../modules/media/width/width-480/third-design-best-photo";
  @import "../modules/media/width/width-480/third-design-portfolio";

  @import "../modules/media/width/width-480/fourth-design-acquintance";
  @import "../modules/media/width/width-480/fourth-design-end-model";
}

// DANGER NOT TOUCH
@media (max-height: 685px) {
  // start Index.html
  .main-collections__inner {
    margin-top: 0;
  }
  // end Index.html
}

// ================================== MIX ===================

@media (max-height: 800px) and (max-width: 1230px) {
  // start second-design-acquaintance
  .acquaintance-model-0001__top {
    &-wrapper {
      top: 15px;
      left: 0;
      margin-right: 25px;
    }
    &-img {
      min-height: 250px;
    }
  }

  // end second-design-acquaintance
}
@media (max-height: 800px) and (max-width: 1120px) {
  // start second-design-best-photo

  .overflow-auto {
    overflow: auto;
  }
  // end second-design-best-photo

  // start second-design-end-model
  .end-model-0001 {
    &__headline {
      &-title {
        margin-bottom: rem(5px);
      }
      &-inner {
        margin-bottom: 0;
      }
    }
  }
  // end second-design-end-model

  // start third-design-best-photo
  .best-photo-model-0002__wrapper-img {
    min-height: 190px;
  }
  // end third-design-best-photo
}
@media (max-height: 800px) and (max-width: 815px) {
  // start second-design-acquaintance
  .acquaintance-model-0001__about-descr {
    margin-top: 10px;
  }
  // end second-design-acquaintance
}

@media (max-height: 800px) and (max-width: 1120px) {
  // start first-design end-model
  .end-model__item {
    height: 100%;
  }
  .end-model__item-wrapper-img {
    min-height: 220px;
  }
  // end first-design end-model
}

@media (max-height: 705px) and (max-width: 1230px) {
  // start second-design-acquaintance
  .acquaintance-model-0001__about {
    padding: 40px 0 0;
  }
  // end second-design-acquaintance
}
@media (max-height: 705px) and (max-width: 1400px) {
  // start first-design end-model
  .end-model__image-wrapper-img {
    display: none;
  }
  // end first-design end-model
}

@media (max-height: 705px) and (max-width: 880px) {
  // start fourth-design-acquintance
  .acquaintance-model-0003__about-list li:first-child {
    padding-left: 0;
    &::before {
      display: none;
    }
  }
  // end fourth-design-acquintance
}

@media (max-height: 800px) and (max-width: 815px) {
  // start fourth-design-best-photo
  .best-photo-model-0003 {
    &__gallery-two {
      top: 30%;
    }
  }
  // end fourth-design-best-photo
}

@media (max-height: 705px) and (max-width: 600px) {
  // start second-design-end-model
  .end-model-0001 {
    &__headline {
      &-title {
        margin-bottom: rem(10px);
      }
      &-inner {
        margin-bottom: rem(20px);
      }
    }
  }
  // end second-design-end-model
}

@media (max-height: 705px) and (max-width: 815px) {
  // start first-design end-model
  .end-model__socials {
    margin-top: 0;
  }
  // end first-design end-model
}
// hover Effect
@media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0) {
  @import "../modules/media/hover/hover";
}
