@media (max-height: 790px) {
  .model-item {
    max-width: 240px;
    &__image {
      min-height: 240px;
    }
    &__title {
      bottom: 6%;
    } 
  }
  .footer {
    margin-bottom: 0;
  }
}
@media (max-height: 730px) {
  .header {
    padding-top: rem(6px);
  }
  .main-collections {
    padding: rem(20px) 0;
  }
  .model-item {
    max-width: 190px;
    &__image {
      min-height: 200px;
    }
    &__title {
      font-size: rem(18px);
    }
  }  
  .model-list li {
    margin-bottom: rem(5px);
  }
}