// ON IMPORT LINK PLEASE PRESS CTRL + CLICK
//  ============================== HEIGHT ================================================================

@media (max-height: 800px) {
  @import "../modules/media/height/height-800/global";

  @import "../modules/media/height/height-800/index";

  @import "../modules/media/height/height-800/first-design-acquaintance";
  @import "../modules/media/height/height-800/first-design-best-photo";
  @import "../modules/media/height/height-800/first-design-portfolio";
  @import "../modules/media/height/height-800/first-design-end-model";

  @import "../modules/media/height/height-800/second-design-acquaintance";
}
@media (max-height: 730px) {
  @import "../modules/media/height/height-730/global";

  @import "../modules/media/height/height-730/index";
}

@media (max-height: 705px) {
  @import "../modules/media/height/height-705/first-design-acquaintance";
  @import "../modules/media/height/height-705/first-design-best-photo";
  @import "../modules/media/height/height-705/first-design-portfolio";
  @import "../modules/media/height/height-705/first-design-end-model";

  @import "../modules/media/height/height-705/second-design-acquintance";
}
@media (max-height: 685px) {
  @import "../modules/media/height/height-685/index";

  @import "../modules/media/height/height-685/first-design-acquaintance";
}
@media (max-height: 600px) {
  @import "../modules/media/height/height-600/index";

  @import "../modules/media/height/height-600/current-model";

  @import "../modules/media/height/height-600/first-design-acquaintance";
}

@media (max-height: 500px) {
  @import "../modules/media/height/height-600/current-model";
}

//========================================= WIDTH ================================================================
@media (max-width: 1300px) {
  @import "../modules/media/width/width-1300/global";

  @import "../modules/media/width/width-1300/first-design-acquaintance";
  @import "../modules/media/width/width-1300/first-design-best-photo";
}
@media (max-width: 1120px) {
  @import "../modules/media/width/width-1120/global";

  @import "../modules/media/width/width-1120/index";

  @import "../modules/media/width/width-1120/first-design-acquaintance";
  @import "../modules/media/width/width-1120/first-design-best-photo";
  @import "../modules/media/width/width-1120/first-design-end-model";
}

@media (max-width: 815px) {
  @import "../modules/media/width/width-815/global";

  @import "../modules/media/width/width-815/index";

  @import "../modules/media/width/width-815/current-model";

  @import "../modules/media/width/width-815/first-design-acquaintance";
  @import "../modules/media/width/width-815/first-design-best-photo";
  @import "../modules/media/width/width-815/first-design-portfolio";
  @import "../modules/media/width/width-815/first-design-end-model";
}

@media (max-width: 600px) {
  @import "../modules/media/width/width-600/global";

  @import "../modules/media/width/width-600/index";

  @import "../modules/media/width/width-600/current-model";

  @import "../modules/media/width/width-600/first-design-best-model";
  @import "../modules/media/width/width-600/first-design-portfolio";
}
@media (max-width: 480px) {
  @import "../modules/media/width/width-480/global";

  @import "../modules/media/width/width-480/index";

  @import "../modules/media/width/width-480/current-model";

  @import "../modules/media/width/width-480/first-design-acquaintance";
  @import "../modules/media/width/width-480/first-design-portfolio";
  @import "../modules/media/width/width-480/first-design-end-model";
}

// DANGER NOT TOUCH
@media (max-height: 685px) {
  // start Index.html
  .main-collections__inner {
    margin-top: 0;
  }
  // end Index.html
}
// ================================== MIX ===================
@media (max-height: 800px) and (max-width: 1120px) {
  // start first-design end-model
  .end-model__item {
    height: 100%;
  }
  .end-model__image {
    min-height: 220px;
  }
  // end first-design end-model
}

@media (max-height: 700px) and (max-width: 1120px) {
  // start first-design end-model
  .end-model__image {
    display: none;
  }
  // end first-design end-model
}
