// All color
$main-color: #000; 
$main-grey: #a9a9a9;
$main-pink: #ede0df;
$main-blue: #e5eaeb;

$second-green: #e6ffe8;
$second-pink: #ffe7e7;

$third-purple: #c4b7d2;

$white: #fff;
$black: #000;



 
// All Font 
$main-font: 'AGaramondPro-Regular', sans-serif;
// + or - size * on number [.5, .75, 1.25, 1.5]
$main-fz: 16px;

// h1-h6
@function rem($pixels, $context: $main-fz) {
  @return ($pixels/$context) * 1rem;
}

h1 {
  font-size:  rem(114px);
  line-height: rem(116px);
 
}
h2 {
  font-size: rem(96px);
  line-height: rem(96px);
}
h3 {font-size: rem(24px);}
h4 {font-size: rem(20px);}
h5 {font-size: rem(18px);}
h6 {font-size: rem(16px);}


