.acquaintance-model-0002 {
  display: flex;
  &__about {
    position: relative;
    flex: 0 1 60%;
    &-descr {
      margin-bottom: rem(100px);
      &::before {
        content: "";
        position: absolute;
        bottom: 40%;
        left: 5%;
        height: 1px;
        width: 91%;
        background-color: $black;
      }
    }
  }
  &-wrapper {
    flex: 1 1 calc(40% - 10px);
    &-img {
      min-height: 700px;
    }
    
   
  }
}
