.end-model {
  padding: rem(50px) 0 0;
  &__headline {
    margin-bottom: 10px;
    &-title {
      margin-bottom: rem(10px);
    }
    &-descr {
      font-size: 18px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    flex: 0 1 calc(40% - 20px);
    &-wrapper {
      flex: 0 1 20%;
      &-img {
        min-height: 350px;
      }
    }
  }

  
  &__socials {
    &-wrapper-img {
      min-height: 300px;
    }
    &-list {
      margin: rem(15px) 0 0;
    }
  }
  &__contacts {
    &-title {
      margin-bottom: rem(20px);
    }
    &-list {
      li {
        margin-bottom: 10px;
      }
    }
  }
}
