.best-photo-model__gallery {
  &-wrapper {
    &:nth-child(3) {
      top: 30px;
    }
    &:nth-child(4) {
      top: 0;
    }
    .best-photo-model__gallery-wrapper-img {
      &:first-child {
        min-height: 350px;
      }
      &:nth-child(2) {
        min-height: 380px;
      }
    }
    
  }
}