.portfolio-model-0003 {
  &__title {
    margin-bottom: rem(16px);
  }
  &__gallery {
    &-one-wrapper-img:nth-child(2) {
      background-position: 0 45%;
    }
  }
  .block-img {
    min-height: 220px;
  }
  &__box-wrapper-img:nth-child(4) {
    background-position: 0 40%;
  }
}