.end-model-0001 {
  &__headline {
    &-title {
      font-size: 60px;
      line-height: 62px;
    }
    &-wrapper-img {
      min-height: 300px;
    }
  }
  &__box {
    &-wrapper {
      margin: -80px 0 0;
      &-img {
        min-height: 270px;
        background-position: 0 13%;
      }
    }
   
  }
}