.acquaintance-model-0002 {
  .img {
    min-height: 550px;
  }
  &__headline-title {
    font-size: rem(90px);
    line-height: rem(90px);
  }
  &__about-descr {
    margin-bottom: rem(20px);
    &::before {
      display: none;
    }
  }
}