.end-model-0002 {
  .img {
    min-height: 550px;
  }
  &__headline {
    margin-bottom: rem(10px);
    &-title {
      margin-bottom: rem(10px);
    }
  }
  &__socials {
    margin-bottom: rem(20px);
  }
  &__contacts {
    &-title {
      margin-bottom: rem(5px);
    }
    &-list {
      li + li {
        margin-top: rem(5px);
      }
    }
  }
}