.see-link {
  font-size: 24px;
  color: $main-grey;
  transition: all 3s ease-in;
  position: relative;
  &--close {
    
    &::before {
      content: '';
      position: absolute;
      top: 45%;
      left: 0;
      width: 110%;
      height: 2px;
      background-color: $main-grey;
      transition: all 3s ease-in-out;
    }
  }
  &--open {
    transform: translateX(-50%);
    &::before {
      content: '';
      position: absolute;
      top: 45%;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $main-grey;
      transition: all 3s ease-in-out;
    }
  }
}

.contacts-link {
  font-size: 16px;
  color: $main-color; 
}  