.see-link {
  font-size: 24px;
  color: $main-grey;
  position: relative;
  &::before {
    content: "";
    width: 0;
    transition: width 0.5s ease-in;
  }
  &--close::before,
  &--open::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 0;
    height: 2px;
    background-color: $main-grey;
  }
  &--close {
    &::before {
      width: 110%;
      transition: width 1s ease-in-out;
    }
  }
  &--open {
    transform: translateX(-50%);
    &::before {
      animation: slideReverseWidthX 1.5s ease-out forwards;
    }
  }
}

.contacts-link {
  font-size: 16px;
  color: $main-color;
  position: relative;
  padding: 3px;
  @include beforeAnimationMain; 
}
