.current-model-item__inner.end-model-0002 
  .img.end-model-0002-img(style="background-image: url(images/content/серафима_маньковская/__17.jpg);  background-image: image-set(url(images/content/серафима_маньковская/__17x1.jpg) 1x, url(images/content/серафима_маньковская/__17x2.jpg) 2x, url(images/content/серафима_маньковская/__17x3.jpg) 3x);")       
  .end-model-0002__inner    
    .end-model-0002__headline     
      h2.end-model-0002__headline-title Пора прощаться
      p.end-model-0002__headline-descr Была рада с тобой познакомится Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsa sapiente mollitia natus. Ab molestiae repudiandae quo dicta pariatur fugit laboriosam praesentium quaerat! Similique, mollitia! Ducimus iusto ex dignissimos officia. Corporis ducimus iure temporibus. Harum reiciendis, distinctio maiores sunt voluptatibus id est recusandae nostrum nisi! Deserunt, tenetur nisi voluptatum a sapiente maiores quos eaque cupiditate? Nam inventore praesentium pariatur maxime amet, officia blanditiis aspernatur neque rerum quasi ipsam. Exercitationem, eius illo accusamus nisi, sed reiciendis quam molestias voluptates sapiente corporis debitis expedita? Eveniet sint velit porro laboriosam quaerat incidunt facilis temporibus commodi, perspiciatis molestiae impedit, corporis soluta minima, ducimus saepe.
    ul.model-socials.end-model-0002__socials
      li 
        a(href="#") Facebook
      li 
        a(href="#") Facebook
      li 
        a(href="#") Facebook
    .end-model-0002__contacts
      h3.end-model-0002__contacts-title Пиши, звони набирай меня  
      ul.end-model-0002__contacts-list
        li    
          a.contacts-link(href="https://www.facebook.com/serafima.mankovskaya") serafima.mankovskaya
        li 
          a.contacts-link(href="https://vk.com/s.mankovskayaw") s.mankovskayaw 
        li 
          a.contacts-link(href="https://www.instagram.com/mankovskayas") mankovskayas
        li  
          a.contacts-link(href="http://www.fashionbank.ru/models/user/199668.html") 199668
  
