.header {
  padding-top: rem(20px);
  text-align: center;
  &__logo {
    svg {
      display: block;
      margin: 5px auto;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
    width: 100%;
  }
}

.header__btn {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 101;
  &::before, 
  &::after {
    content: '';
    position: absolute;
    background-color: lighten($black, 10);
    height: 2px;
    width: 100%;
  }
  &::before {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  &::after {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
  &--active {
    
  }
}