.acquaintance-model-0001 {
  &__top {
   position: relative;
    &-image {
      position: absolute;
      top: 100px;
      left: 70px;
      margin: 0;
      min-height: 300px;
      flex: 1 1 auto;
      background-position: 0 50%;
    }
  }
  &__headline {
    margin-left: 0;
    &-title {
      font-size: 88px;
      line-height: 90px;
    }
    span {
      margin-right: rem(50px);
    }
  }
  &__about {
    padding: 120px 0 0;
    &-list {
      flex: 1 1 35%;
    }
    &-image {
      display: none;
    }
    &-descr {
      flex: 0 1 50%;
    }
  }
}